/serial/plugin/droplit.io-edge/.idea
/serial/plugin/droplit.io-edge/*.sln
/serial/plugin/droplit.io-edge/*.suo
/serial/plugin/droplit.io-edge/node_modules
/serial/plugin/droplit.io-edge/projects/*/lib
/serial/plugin/droplit.io-edge/npm-debug.log
/serial/plugin/droplit.io-edge/*.heapsnapshot
/serial/plugin/droplit.io-edge/dist
/serial/plugin/droplit.io-edge/temp

#project specific
#/serial/plugin/droplit.io-edge/projects/droplit-edge/cache
#/serial/plugin/droplit.io-edge/projects/droplit-edge/plugins
#/serial/plugin/droplit.io-edge/projects/droplit-edge/localsettings.json
/serial/plugin/droplit.io-edge/.vscode
/serial/plugin/droplit.io-edge/**/yarn.lock

/serial/plugin/droplit.io-edge/.DS_Store